{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<main id="main">
  <section id="icon-boxes" class="icon-boxes"></section>
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Change Password</h2>
      </div>

      <div class="row">
        <div class="col-*-6 mx-auto" data-aos="fade-up" data-aos-delay="200">
          <p>Please enter your old password, for security's sake, and then enter your new password twice so we can
            verify you typed it in correctly.</p>

          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-success" type="submit" value="Change my password">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock content %}