{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Delete Note {% endblock title %}

{% block content %}
<main id="main">
  <section id="icon-boxes" class="icon-boxes"></section>
  <!-- ======= Note Delete Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Delete Note</h2>
      </div>

      <div class="row">
        <div class="col-*-6 mx-auto" data-aos="fade-up" data-aos-delay="200">
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <p>Are you sure you want to delete "{{ note.title }}"?</p>
            <button class="btn btn-success ml-2" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock content %}